.page {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  max-width: 880px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
}
