.form-login__input {
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #ccc;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 7px 0;
}

.form-login__input:-webkit-autofill {
  transition-delay: 36000s;
}

.form-login__input::placeholder {
  font-weight: 400;
}
