.form-login__title {
  margin: 0 auto 44px;
  font-weight: 900;
  line-height: 1.2;
}

@media screen and (max-width: 440px) {
  .form-login__title {
    font-size: 20px;
    margin-bottom: 34px;
  }
}
