.popup__form-container_type_infotooltip {
  align-items: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 590px) {
  .popup__form-container_type_infotooltip {
    min-height: 308px;
    padding-bottom: 20px;
  }
}
